<a class="video" href="watch?v={{video.id}}">
    <div class="video__thumbnail">
        <img src="{{video.thumbnail}}" alt="{{video.title}}">

        {{#if video.downloaded}}
            <div class="video__thumbnail-overlay">
                    <i class="nf nf-fa-play_circle video__thumbnail-overlay-icon"></i>
            </div>
        {{/if}}

        <p class="video__duration">{{video.duration}}</p>

    </div>

    <div class="video__details">
        <h3 class="video__details-title">{{video.title}}</h3>
        <p class="video__details-channel">{{video.channel}}</p>
    </div>
</a>
