<main>

    {{#if videos.length}}
        <h2 class="video__title">Found {{videos.length}} results for "{{query}}"</h2>

        <div class="video__grid">
            {{#each videos}}
                {{> video video=this.item}}
            {{/each}}
        </div>

    {{else}}
        <h2 class="video__title">No results for "{{query}}"</h2>

        <p>Trying to search YouTube? We don't support that yet.</p>
        <p>Instead, please use the <a href="https://www.youtube.com/results?search_query={{query}}">YouTube search
            page</a> and then paste the URL of the video you want to add to your library <a href="/newVideo">here</a>.
        </p>

        <a href="/newVideo" class="button">Add a new video</a>

    {{/if}}

</main>