<main>

    <div class="video__player-container">

        <figure class="video__player-container__viewport" id="video-container">

            <div id="video-controls" class="video__player-controls" data-state="hidden">


                <div class="video__player-controls__top video__player-controls__section">
                    <div class="progress">
                        <progress id="progress" value="0" min="0">
                            <span id="progress-bar"></span>
                        </progress>
                    </div>
                </div>

                <div class="video__player-controls__bottom video__player-controls__section">

                    <div>

                        <button id="playpause" type="button" data-state="play">Play/Pause</button>
                        <button id="stop" type="button" data-state="stop">Stop</button>

                    </div>
                    <div>


                        <button id="mute" type="button" data-state="mute">Mute/Unmute</button>
                        <button id="volinc" type="button" data-state="volup">Vol+</button>
                        <button id="voldec" type="button" data-state="voldown">Vol-</button>
                        <button id="fs" type="button" data-state="go-fullscreen">Fullscreen</button>
                    </div>

                </div>


            </div>

            <video class="video__player" id="video">
                <source src="video/stream?v={{video.id}}" type="video/webm">
                Your browser does not support the video tag.
            </video>
            <canvas id="ambient-mode"></canvas>
        </figure>

        <script defer src="javascript/video-player.js"></script>

        <div class="video__player-container__info">
            <h1 class="video__player-container__info__title">{{video.title}}</h1>

            <div class="video__player-container__info__details">
                <a href="{{video.channel_url}}" class="video__player-container__info__details-item">
                    <i class="nf nf-md-youtube"></i>{{video.channel}}
                </a>

                <span class="video__player-container__info__details-item"
                      title="{{epochToDate video.epoch}} @ {{epochToTime video.epoch}}">
                    <i class="nf nf-md-clock"></i> {{epochToDate video.epoch}}
                </span>

                <span class="video__player-container__info__details-item">
                    <i class="nf nf-md-eye"></i> {{video.categories}}
                </span>

            </div>

            <p class="video__player-container__info__description">{{{format video.description}}}</p>

        </div>


    </div>

</main>

<script defer>

    const video = document.getElementById('video');

    document.addEventListener('DOMContentLoaded', function () {
        const canvas = document.getElementById('ambient-mode');
        const ctx = canvas.getContext('2d');

        video.addEventListener('play', function () {
            const $this = this; //cache
            (function loop() {
                if (!$this.paused && !$this.ended) {
                    ctx.drawImage($this, 0, 0, canvas.width, canvas.height);
                    setTimeout(loop, 1000 / 30); // drawing at 30fps
                }
            })();
        });
    });

    window.addEventListener('load', function () {

        console.log("load");

        // Add event listeners for mousedown and touchstart
        video.addEventListener('mousedown', function () {
            this.playbackRate = 2.0;
            console.log("mousedown");
        });
        video.addEventListener('touchstart', function () {
            this.playbackRate = 2.0;
        });

        // Add event listeners for mouseup and touchend
        video.addEventListener('mouseup', function () {
            this.playbackRate = 1.0;
        });
        video.addEventListener('touchend', function () {
            this.playbackRate = 1.0;
        });

    });


</script>
